<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
    <title>Login</title>
</head>
<body>
<header>
    <th:block th:replace="fragments/navbar"></th:block>
</header>
<main>
    <div class="container body-content span=8 offset=2">
        <form class="form-horizontal justify-content-center" th:action="@{'/categories/add'}" th:method="POST" th:object="${addCategoryInput}">
            <fieldset class="mt-4">
                <legend>Add New Category</legend>
                <div class="form-group row mt-4" th:classappend="${#fields.hasErrors('email')} ? 'has-danger'">
                    <label for="name">Category name</label>
                    <input class="form-control" th:field="*{name}" th:value="${addCategoryInput.getName()}" id="name" aria-describedby="name" type="text" name="name">
                    <th:block th:each="error : ${#fields.errors('name')}">
                        <small class="text-danger" th:text="${error}"></small>
                    </th:block>
                </div>
                <div class="form-group mt-5">
                    <button type="submit" class="btn btn-primary mr-2">Add Category</button>
                    <a class="btn btn-outline-secondary ml-3" th:href="@{/categories/all}">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
</main>
<footer><!--class="footer-sticky"-->
    <th:block th:replace="fragments/footer"></th:block>
</footer>
</body>
</html>