<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<header>
    <th:block th:replace="fragments/navbar"></th:block>
    <title th:text="${title}"></title>
</header>
<main>
    <div class="container">
        <form th:action="@{'/videos/add'}" th:method="POST" th:object="${videoInput}">
            <!--<div th:if="${#fields.hasAnyErrors()}">-->
                <!--<script th:inline="javascript">-->
                    <!--/*<![CDATA[*/-->
                    <!--new Noty({-->
                        <!--text: 'ERROR: Invalid credentials!',-->
                        <!--type: 'error',-->
                        <!--theme: 'mint',-->
                        <!--timeout: 4000,-->
                        <!--layout: 'topRight'-->
                    <!--}).show();-->
                    <!--/*]]>*/-->
                <!--</script>-->
            <!--</div>-->
            <fieldset>
                <legend>Add New Video</legend>
                <div class="form-group row mt-3" th:classappend="${#fields.hasErrors('title')} ? 'has-danger'">
                    <label for="title">Title</label>
                    <input class="form-control" id="title" aria-describedby="title" type="text" name="title">
                </div>
                <div class="form-group row" th:classappend="${#fields.hasErrors('description')} ? 'has-danger'">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                </div>
                <div class="form-group row" th:classappend="${#fields.hasErrors('category')} ? 'has-danger'">
                    <label for="category">Category</label>
                    <select class="custom-select" id="category" name="category">
                        <th:block th:each="category : ${categories}">
                            <option th:value="${category}" th:text="${category}" th:selected="${categories != null && categories.contains(category)}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group row" th:classappend="${#fields.hasErrors('videoFile')} ? 'has-danger'">
                    <label for="videoFile">Select Video</label>
                    <input class="form-control-file" id="videoFile" name="videoFile" aria-describedby="videoFile" type="file" accept="video/mp4,video/x-m4v,video/*">
                </div>
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary mr-2">Add Video</button>
                    <a class="btn btn-outline-secondary ml-3" th:href="@{/}">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
</main>
<footer class="footer"><!--class="footer-sticky"-->
    <th:block th:replace="fragments/footer"></th:block>
</footer>
</body>
</html>