<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/head"></th:block>
    <title th:text="${title}"></title>
</head>
<body>
<header>
    <th:block th:replace="fragments/navbar"></th:block>
</header>
<main>
    <div class="container">
        <div>
            <div th:if="${moderatorAlreadyError}">
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    new Noty({
                        text: 'ERROR: This user is moderator already!',
                        type: 'error',
                        theme: 'mint',
                        timeout: 4000,
                        layout: 'topRight'
                    }).show();
                    /*]]>*/
                </script>
            </div>
            <div th:if="${notModeratorError}">
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    new Noty({
                        text: 'ERROR: This user is not moderator!',
                        type: 'error',
                        theme: 'mint',
                        timeout: 4000,
                        layout: 'topRight'
                    }).show();
                    /*]]>*/
                </script>
            </div>
            <h1 class="text-center font-weight-bold"
                th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></h1>
            <h3 class="text-center font-weight-bold" th:text="${user.getEmail()}"></h3>
            <h5 class="text-center text-info font-weight-bold" th:if="${isAdminUser && user.getDeletedOn() == null}">
                ADMIN</h5>
            <h5 class="text-center text-info" th:if="${isModeratorUser && !isAdminUser && user.getDeletedOn() == null}">
                MODERATOR</h5>
            <h5 class="text-center text-danger" th:if="${user.getDeletedOn() != null}"
                th:text="${'(Deleted on ' + #temporals.format(user.getDeletedOn(), 'dd-MM-yyyy') + ')'}"></h5>
            <div class="form-group center mt-3 d-flex justify-content-center">
                <a class="btn btn-outline-success" th:href="@{/admin/users/edit/{id}(id=${user.getId()})}">Edit
                    profile</a>
                <a sec:authorize="hasAuthority('ADMIN')" th:if="${user.getDeletedOn() == null}"
                   class="btn btn-outline-danger ml-3"
                   th:href="@{/admin/users/delete/{id}(id=${user.getId()})}">Delete profile</a>
                <a sec:authorize="hasAuthority('ADMIN')" th:if="${user.getDeletedOn() != null}"
                   class="btn btn-outline-warning ml-3" th:href="@{/admin/users/restore/{id}(id=${user.getId()})}">Restore
                    profile</a>
                <a class="btn btn-outline-secondary ml-3" th:href="@{/admin/users/all}">Back</a>
            </div>
            <hr/>
            <div>
                <h3 class="text-center" th:text="${user.getFirstName()} + '\'s videos:'"></h3>
                <div th:if="${#lists.isEmpty(videos)}">
                    <h4 class="text-center font-weight-bold">No videos to show.</h4>
                </div>
                <div class="row" th:if="${not #lists.isEmpty(videos)}">
                    <th:block th:each="video : ${videos}">
                        <div class="col-md-6">
                            <header>
                                <h2 th:text="${video.getTitle()}"></h2>
                            </header>
                            <p>
                                <a th:href="@{/videos/{id}(id=${video.id})}">
                                    <img th:src="@{http://localhost:8080/images/video-player.png}"
                                         width="400"/>
                                </a>
                            </p>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer mt-5"><!--class="footer-sticky"-->
    <th:block th:replace="fragments/footer"></th:block>
</footer>
</body>
</html>