<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
    <title>Categories</title>
</head>
<body>
<header>
    <th:block th:replace="fragments/navbar"></th:block>
</header>
<main>
    <div class="container">
        <h2 class="text-center">All Categories</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">Category</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="category, iter : ${categories}">
                <tr class="table-active">
                    <th scope="row" th:text="${iter.index + 1}"></th>
                    <td></td>
                    <td th:text="${category.getName()}"></td>
                    <td><a class="btn btn-outline-success" th:href="@{/admin/categories/edit/{id}(id=${category.getId()})}">Edit</a>
                    </td>
                    <td><a class="btn btn-outline-danger" th:href="@{/admin/categories/delete/{id}(id=${category.getId()})}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>

        <div class="form-group mt-4">
            <a class="btn btn-outline-info mr-2" th:href="@{/admin/categories/add}">Add Category</a>
            <a class="btn btn-outline-secondary ml-3" th:href="@{/}">Back</a>
        </div>
    </div>
</main>
<footer class="footer mt-5"><!--class="footer-sticky"-->
    <th:block th:replace="fragments/footer"></th:block>
</footer>
</body>
</html>