<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
    <title th:text="${title}"></title>
</head>
<body>
<header>
    <th:block th:replace="fragments/navbar"></th:block>
</header>
<main>
    <div class="container">
        <div>
            <h1 class="text-center font-weight-bold"
                th:text="${category.getName()}">
            </h1>
        </div><hr/>
        <div>
            <div th:if="${#lists.isEmpty(category.getVideos())}">
                <h4 class="text-center font-weight-bold">No videos to show.</h4>
            </div>
            <div class="row" th:if="${not #lists.isEmpty(category.getVideos())}">
                <th:block th:each="video : ${videos}">
                    <div class="col-md-3 align-center">
                        <header>
                            <h5 th:text="${video.getTitle()}"></h5>
                        </header>
                        <p>
                            <a class="thumbnail"
                               th:href="@{/videos/{identifier}(identifier = ${video.videoIdentifier})}">
                                <img class="img-responsive" th:src="${video.thumbnailUrl}"
                                     width="200" height="113"/>
                            </a>
                        </p>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    </div>
    <hr class="hr-hidden"/>
</main>
<footer class="footer"><!--class="footer-sticky"-->
    <th:block th:replace="fragments/footer"></th:block>
</footer>
</body>
</html>