<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
    <title>Login</title>
</head>
<body>
<header>
    <th:block th:replace="fragments/navbar"></th:block>
</header>
<main>
    <div class="container">
        <form th:action="@{'/users/login'}" th:method="post">
            <fieldset>
                <legend>Login</legend>
                <h5>If you don't have an account - register <a th:href="@{/users/register}">here</a>.</h5>
                <div class="form-group row mt-3">
                    <label for="email">Email address</label>
                    <input class="form-control" id="email" aria-describedby="email" placeholder="Enter email"
                           type="email" name="email">
                </div>
                <div class="form-group row">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" placeholder="Password" type="password" name="password">
                </div>
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary mr-2">Login</button>
                    <a class="btn btn-secondary ml-3" th:href="@{/}">Back</a>
                </div>
            </fieldset>
        </form>
    </div>
</main>
<footer><!--class="footer-sticky"-->
    <th:block th:replace="fragments/footer"></th:block>
</footer>
</body>
</html>