<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
    <title>My Profile</title>
</head>
<body>
<header>
    <th:block th:replace="fragments/navbar"></th:block>
</header>
<main>
    <div class="container">
        <div>
            <h1 class="text-center font-weight-bold"
                th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></h1>
            <h3 class="text-center font-weight-bold" th:text="${user.getEmail()}"></h3>
            <h5 class="text-center text-info font-weight-bold" th:if="${isAdmin}">ADMIN</h5>
            <h5 class="text-center text-info" th:if="${isModerator && !isAdmin}">MODERATOR</h5>
            <div class="form-group center mt-3 d-flex justify-content-center">
                <a class="btn btn-outline-success" th:href="@{/users/profile/edit}">Edit profile</a>
                <a class="btn btn-outline-secondary ml-3" th:href="@{/}">Back</a>
            </div>
        </div>
        <hr/>
        <div>
            <h3 class="text-center">Your videos:</h3>
            <div th:if="${#lists.isEmpty(videos)}">
                <h4 class="text-center font-weight-bold">No videos to show.</h4>
            </div>
            <div class="row" th:if="${not #lists.isEmpty(videos)}">
                <th:block th:each="video, iter : ${videos}">
                    <div class="col-md-3 align-center">
                        <header>
                            <h5 th:text="${video.getTitle()}"></h5>
                        </header>
                        <p>
                            <a class="thumbnail"
                               th:href="@{/videos/{identifier}(identifier = ${video.videoIdentifier})}">
                                <img class="img-responsive" th:src="${video.thumbnailUrl}"
                                     width="200" height="113"/>
                            </a>
                        </p>
                        <p>
                                <a th:href="@{/videos/edit/{identifier}(identifier=${video.videoIdentifier})}"
                                   class="mr-2">
                                    &#128393;
                                </a>
                                <a th:href="@{/videos/delete/{identifier}(identifier=${video.videoIdentifier})}">
                                    &#x2613;
                                </a>
                        </p>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    <hr class="hr-hidden"/>
</main>
<footer class="footer mt-5"><!--class="footer-sticky"-->
    <th:block th:replace="fragments/footer"></th:block>
</footer>
</body>
</html>