<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
    <script th:src="@{/scripts/httpRequest.js}"></script>
    <script th:src="@{/scripts/escapeSpecialSymbols.js}"></script>
    <script th:src="@{/scripts/addCommentsToPage.js}"></script>
    <script th:src="@{/scripts/addLikesToPage.js}"></script>
    <script th:src="@{/scripts/links.js}"></script>
    <title th:text="${video.getTitle()}"></title>
</head>
<body>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    const videoIdentifier = [[${video.getVideoIdentifier()}]];

    const loadComments = () => {
        const principal = [[${principalName}]];
        const isModerator = [[${isModerator}]];
        http.get(getCommentsUrl(videoIdentifier), principal, isModerator);
    };

    const addComment = () => {
        const commentTextarea = $('#addComment');
        const comment = commentTextarea.val().trim();
        if (comment === null || comment === '') {
            return;
        }
        const data = {
            content: comment
        };

        http.post(addCommentUrl(videoIdentifier), data);
        commentTextarea.val('');

        setTimeout(() => loadComments(), 500);
    };

    const like = () => {
        http.post(likeUrl(videoIdentifier));
        setTimeout(() => {
            http.get(getLikesUrl(videoIdentifier));
            $('#like').hide();
            $('#unlike').show();
        }, 500);
    };

    const unlike = () => {
        http.post(unlikeUrl(videoIdentifier));
        setTimeout(() => {
            http.get(getLikesUrl(videoIdentifier));
            $('#like').show();
            $('#unlike').hide();
        }, 500);
    };

    $(document).ready(() => {
        if ([[${isLiked}]]) {
            $('#like').hide();
            $('#unlike').show();
        }
        loadComments()

    });

    $(document.body).on('click', '#removeBtn', (btn) => {
        http.post(removeCommentUrl + btn.target['name']);
        setTimeout(() => loadComments(), 500);
    });
    /*]]>*/
</script>
<header>
    <th:block th:replace="fragments/navbar"></th:block>
</header>
<main>
    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-10">
                <h2 th:text="${video.title}"></h2>
                <iframe width="840" height="472" th:src="${videoFileUrl}" allowfullscreen></iframe>
                <div class="col">
                    <div class="row">
                        <div class="col-lg-5">
                            <p>
                                <strong><a class="font-weight-bold" href="/"
                                           th:text="${video.author.firstName + ' ' + video.author.lastName}"></a></strong>
                                <small th:text="${'Uploaded on ' + #temporals.format(video.uploadedOn, 'dd.MM.yyyy')}"></small>
                            </p>
                            <p>Category: <a th:href="@{/category/{name}(name=${video.category.name})}"
                                            th:text="${video.category.name}"></a>
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <div class="row justify-content-end">
                                <div class="justify-content-center">
                                    <h4 class="text-center font-weight-normal" th:text="${video.views + ' views'}"></h4>
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="row">
                                    <div class="col">
                                        <input type="image" id="like" class="align-left"
                                               width="25" th:src="@{/images/unliked.png}"
                                               th:onclick="'javascript:like()'" alt=""/>
                                        <input type="image" id="unlike" class="align-left"
                                               width="25" th:src="@{/images/liked.png}"
                                               th:onclick="'javascript:unlike()'" alt="" style="display: none"/>
                                    </div>
                                    <div class="col">
                                        <h6 class="align-right" id="likesCount"
                                            th:text="${video.usersLiked.size()}"></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="align-left width"/>
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        <p class="lead" th:text="${video.description}"></p>
                        <br/>
                        <h3 class="text-primary">Comments:</h3>
                        <h5 th:if="${principalName == null}"><a href="/users/login">Log in</a> to add comment!</h5>
                        <div class="form-group" th:if="${principalName != null}">
                            <label for="addComment">Add new comment</label>
                            <textarea class="form-control" id="addComment" name="addComment" rows="2"></textarea>
                        </div>
                        <div class="align-right" th:if="${principalName != null}">
                            <button type="button" class="btn btn-outline-secondary btn-sm" id="addBtn"
                                    th:onclick="'javascript:addComment()'">Add
                            </button>
                        </div>
                        <div id="commentSection">
                        </div>
                    </div>
                </div>
                <hr class="hr-hidden"/>
            </div>
            <div class="col-lg-2">
                <th:block th:each="video : ${videosFromSameUser}">
                    <div class="row">
                        <p>
                            <a class="thumbnail"
                               th:href="@{/videos/{identifier}(identifier = ${video.videoIdentifier})}">
                                <img class="img-responsive" th:src="@{http://localhost:8000/images/video-player.png}"
                                     width="200"/>
                            </a>
                        </p>
                        <footer>
                            <h6 th:text="${video.title}"></h6>
                        </footer>
                        <hr/>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</main>
<footer class="footer"><!--class="footer-sticky"-->
    <th:block th:replace="fragments/footer"></th:block>
</footer>
</body>
</html>