<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
    <title th:text="${title}"></title>
</head>
<body>
<header>
    <th:block th:replace="fragments/navbar"></th:block>
</header>
<main>
    <div class="container">
        <form th:action="@{/videos/delete/{identifier}(identifier=${videoInput.videoIdentifier})}" th:method="POST" th:object="${videoInput}">
            <fieldset disabled="disabled">
                <legend>Delete Video</legend>
                <div class="form-group row mt-3">
                    <label for="title">Title</label>
                    <input required class="form-control" id="title" aria-describedby="title" type="text" name="title"
                           th:value="*{title}">
                </div>
                <div class="form-group row">
                    <label for="description">Description</label>
                    <textarea required class="form-control" id="description" name="description" rows="3"
                              th:text="*{description}"></textarea>
                </div>
                <div class="form-group row">
                    <label for="category">Category</label>
                    <select required class="custom-select" id="category" name="category">
                        <option th:text="*{category.name}" disabled selected></option>
                    </select>
                </div>
            </fieldset>
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-danger mr-2">Delete Video</button>
                <a class="btn btn-outline-secondary ml-3" th:href="@{/}">Cancel</a>
            </div>
        </form>
    </div>
    <hr class="hr-hidden"/>
</main>
<footer class="footer"><!--class="footer-sticky"-->
    <th:block th:replace="fragments/footer"></th:block>
</footer>
</body>
</html>